{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}

{% block content %}
<div class="text">Modifier un événement</div>

<div class="container_form">
    {{ form_start(eventForm) }}
        {% for error in app.flashes('form_errors') %}
            {% for field, message in error %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        
        <div class="form-group">
            <label for="title">Titre</label>
            {{ form_widget(eventForm.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            <label for="description">Description</label>
            {{ form_widget(eventForm.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            <label for="datetime">Date et Heure</label>
            {{ form_widget(eventForm.datetime, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            <label for="maxParticipants">Nombre de Participants</label>
            {{ form_widget(eventForm.maxParticipants, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {{ form_widget(eventForm.public, {'attr': {'class': 'custom-control-input'}}) }}
                <label for="{{ eventForm.public.vars.id }}" class="custom-control-label">
                    Cochez si l'événement est public
                </label>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Sauvegarder</button>
    {{ form_end(eventForm) }}
</div>
{% endblock %}
