<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Projet Symfony</title>
      <link rel="stylesheet" href="{{ asset('css/style.css') }}">
      <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar open">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus icon"></i>
        <div class="logo_name">FR-KO</div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <i class="bx bx-search"></i>
          <input type="text" placeholder="Search..." />
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="{{ path('event_list') }}">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Accueil</span>
          </a>
          <span class="tooltip">Accueil</span>
        </li>
        <li>
          <a href="{{ path('profil') }}">
            <i class="bx bx-user"></i>
            <span class="links_name">Profil</span>
          </a>
          <span class="tooltip">Profil</span>
        </li>
        <li>
          <a href="{{ path('event_list') }}">
            <i class='bx bx-calendar-star'></i>
            <span class="links_name">Événements</span>
          </a>
          <span class="tooltip">Événements</span>
        </li>
        <li>
          <a href="{{ path('my_events') }}">
            <i class="bx bx-folder"></i>
            <span class="links_name">Mes événements</span>
          </a>
          <span class="tooltip">Mes événements</span>
        </li>
        <li>
          <a href="{{ path('event_participations') }}">
            <i class="bx bx-heart"></i>
            <span class="links_name">Participations</span>
          </a>
          <span class="tooltip">Participations</span>
        </li>
        <li class="profile">
          <div class="profile-details">
              <img src="{{ asset('images/profile.jpg') }}" alt="profileImg" />
              <div class="name_job">
                  <div class="name">{{ app.user ? app.user.firstName ~ ' ' ~ app.user.lastName : 'Invité' }}</div>
                  <div class="job">{{ app.user ? app.user.email : 'Connectez-vous' }}</div>
              </div>
          </div>
          {% if app.user %}
              <a href="{{ path('app_logout') }}">
                  <i class="bx bx-log-out" id="log_out"></i>
              </a>
          {% else %}
              <a href="{{ path('app_login') }}">
                  <i class="bx bx-log-in" id="log_out"></i>
              </a>
          {% endif %}
         </li>
      </ul>
    </div>
     <section class="home-section">
      {% block content %}{% endblock %}
    </section>

    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
  </body>
</html>