{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="text">Change Password</div>

<div class="container_form">
    {{ form_start(changePasswordForm) }}
        {% for error in app.flashes('form_errors') %}
            {% for field, message in error %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <div class="form-group">
            <label for="oldPassword">Ancien mot de passe</label>
            {{ form_widget(changePasswordForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            <label for="newPassword_first">Nouveau mot de passe</label>
            {{ form_widget(changePasswordForm.newPassword.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <div class="form-group">
            <label for="newPassword_second">Confirmer le nouveau mot de passe</label>
            {{ form_widget(changePasswordForm.newPassword.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        
        <button class="btn">Change Password</button>
    {{ form_end(changePasswordForm) }}
</div>
{% endblock %}
